/*--------------------------- importing google font poppins -------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*------------------ common stylies or utilities--------------------- */

body,
html {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    max-width: 1360px;
    margin: 0px auto;
}

/* --------------navbar section style -----------------*/

.panda {
    margin-left: 3%;
}

.Navber-search {
    padding-left: 4%;
}

.Navber-search input {
    width: 310px;
}

.Navber-search>button {
    color: black;
    background-color: #ff69b4;
}

.Navber-search>button:hover {
    color: white;
    background-color: green;
}

.Navbar-options {
    margin-left: 3.9%;
    white-space: nowrap;
}

.Navbar-options li {
    margin-left: 1%;
}

/* ----------------carousel section style --------------*/

.carousel-sliders {
    background-color: #FADCD9;
    height: 380px;
    margin-top: 5.2%;
}

.carousel-caption {
    position: relative;
    top: 10%;
    left: 21%;
    text-align: left;
}

.taka {
    color: #ff007f;
}

.carousel-caption>button {
    background-color: #ff007f;
    border: 1px solid #ff007f;
    height: 40px;
    padding: 8px;
}

.carousel-caption>h2 {
    font-size: 38px;
    font-weight: 650;
}

.carousel-caption>p {
    margin-top: 3%;
}

.tv>img {
    height: 360px;
    margin-top: 3%;
    margin-left: 35%;
}

.changer {
    background-color: grey;
}

.headphone>img {
    height: 337px;
    margin-top: 3%;
    margin-left: 35%;
}

.xbox>img {
    height: 400px;
    margin-left: 28%;
}

/* ----------------categories section style----------------- */

.category {
    font-weight: 600;
}

.watch>h4,
.backpack>h4,
.shoe>h4 {
    font-size: 26px;
    font-weight: 600;
}

.watch>img {
    height: 130px;
    margin-left: 22%;
}

.backpack>img {
    height: 130px;
    margin-left: 8%;
}

.shoe>img {
    margin-left: 20%;
}

.watch {
    background-color: #ffbf00;
    padding: 2%;
    width: 28%;
    margin-left: 1%;
    height: 150px;
    color: white;
}

.backpack {
    background-color: #ff007f;
    padding: 2%;
    width: 28%;
    margin-left: 5%;
    height: 150px;
    color: white;
}

.shoe {
    background-color: #0476D0;
    padding: 2%;
    width: 28%;
    margin-left: 5%;
    height: 150px;
    color: white;
}

/* ----------shoe-section style------------------- */

.shoe-section {
    position: relative;
    top: 40px;
}

.shoe-section>h3 {
    font-weight: 600;
}

.shoe-section>p {
    color: blue;
    font-weight: 500;
    cursor: pointer;
}

.shoe-row {
    margin-top: 5%;
}

.card-caption>h4 {
    font-weight: 600;
}

.card-caption>p {
    font-size: 13px;
    font-weight: 500;
}

.card-caption>h5 {
    font-weight: 600;
}

/* --------------------Backpack section style---------------------- */

.bag-section>h3 {
    font-weight: 600;
}

.bag-section>p {
    color: blue;
    font-weight: 500;
    cursor: pointer;
}

.bag-row {
    margin-top: 3%;
}

.card-caption-bag>h4 {
    font-weight: 600;
}

.card-caption-bag>p {
    font-size: 13px;
    font-weight: 500;
}

.card-caption-bag>h5 {
    font-weight: 600;
}

/* ---------------footer section style ----------------------*/

footer {
    background-color: #FADCD9;
    height: 320px;
}

.footer-caption {
    position: relative;
    top: 19%;
}

.footer-caption h3 {
    font-size: 30px;
    font-weight: 600;
}

.footer-caption p {
    font-weight: 460;
}

.footer-caption small {
    margin-top: 6.1%;
}

.input-email {
    width: 50%;
    height: 47px;
}

.input-email>button {
    color: white;
    background-color: #ff007f;
}

.input-email>button:hover {
    color: white;
    background-color: green;
}

/*------------------- media quries section style-------------------------- */

@media only screen and (max-width:539px) {

    /*------------------ navbar section style------------------------ */

    .Navber-search {
        width: 20%;
        margin-top: 4%;
        position: relative;
        right: 6%;
    }

    .Navbar-options {
        margin-top: 1%;
        margin-left: 25%;
    }

    /* --------------------carousel section style---------------------- */

    .carousel-sliders {
        height: 770px;
    }

    .carousel-caption h2 {
        font-size: 29px;
        position: relative;
        right: 10%;
        top: 2%;
    }

    .carousel-caption p {
        font-size: 15px;
        position: relative;
        right: 17.5%;
        padding-right: 7.8%;
        text-align: justify;
    }

    .carousel-caption h3 {
        margin-left: 15%;
        font-weight: 600;
    }

    .carousel-caption button {
        margin-left: 9%;
    }

    .tv img {
        height: 350px;
        position: relative;
        right: 23%;
        top: 6%;
    }

    .wireless-headphones h2 {
        font-size: 29px;
        text-align: center;
        position: relative;
        right: 21%;
    }

    .wireless-headphones p {
        font-size: 15px;
        position: relative;
        right: 16.5%;
        padding-right: 8%;
    }

    .wireless-headphones h3 {
        font-weight: 600;
    }

    .wireless-headphones button {
        margin-left: 9%;
    }

    .headphone img {
        height: 310px;
        margin-top: 11%;
        margin-left: 10%;
    }

    .xbox img {
        height: 360px;
        position: relative;
        right: 23%;
    }

    .x-box-pos h2 {
        margin-left: 10%;
    }

    /*-------------- category section style-------------------- */

    .category {
        font-size: 28px;
    }

    .all-categories {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .watch {
        width: 80%;
        margin-left: 5%;
        margin-bottom: 3%;
    }

    /* ------------------shoes and backpack section style-------------------- */

    .backpack {
        width: 80%;
        margin-bottom: 3%;
    }

    .shoe {
        width: 80%;
    }

    .shoe-row>.col-sm-11>.card {
        margin-top: 11%;
    }


    .reebok {
        margin-top: 6%;
    }

    .bag-section {
        margin-top: 24%;
    }

    .single-bag {
        margin-top: 6%;
    }

    /*----------- footer section style-------------------- */

    .footer-caption h3 {
        font-size: 25px;
    }

    .footer-caption p {
        font-size: 14px;
    }

    .input-email {
        width: 90%;
    }

    .footer-caption small {
        margin-top: 25%;
    }

}

@media only screen and (min-width:540px) and (max-width:688px) {

    /* ---------------navbar section style ------------------------*/

    .Navber-search {
        margin-top: 2%;
    }

    .Navbar-options {
        margin-left: 30%;
        margin-top: 1%;
    }

    /* -----------------------carousel section style ------------------------*/

    .carousel-sliders {
        height: 750px;
    }

    .carousel-caption h2 {
        position: relative;
        right: 8%;
    }

    .carousel-caption p {
        position: relative;
        right: 17%;
        padding-right: 9%;
        text-align: justify;
    }

    .carousel-caption h3 {
        margin-left: 20%;
    }

    .carousel-caption button {
        margin-left: 16%;
    }

    .tv img {
        margin-top: 5%;
        position: relative;
        right: 15%;
    }

    .wireless-headphones h2 {
        font-size: 34px;
        position: relative;
        right: 18%;
        white-space: nowrap;
    }

    .headphone>img {
        height: 260px;
        margin-top: 10%;
        position: relative;
        right: 10%;
    }

    .x-box-pos h2 {
        position: relative;
        left: 4%;
    }

    .xbox>img {
        height: 60%;
        position: relative;
        right: 15%;
    }

    /*-------------- category section style ---------------------*/

    .category {
        font-size: 30px;
    }

    .all-categories {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .watch {
        width: 170%;
    }

    .watch>img {
        position: relative;
        right: 6%;
    }

    .backpack {
        width: 94%;
        margin-left: 8%;

    }

    .backpack>img {
        position: relative;
        right: 12%;
    }

    .shoe {
        width: 170%;
        margin-top: 7%;
        position: relative;
        right: 4%;
    }

    /*--------------- shoe section style -----------------*/

    .shoe-section>h3 {
        font-size: 30px;
    }

    .shoe-section p {
        font-size: 19px;
    }

    .shoe-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /*----------------- bag section style---------------------- */

    .bag-section h3 {
        font-size: 30px;
    }

    .bag-section p {
        font-size: 19px;
    }

    .bag-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /*------------------------- footer section style---------------- */

    .footer-caption small {
        margin-top: 15%;
    }
}

@media only screen and (min-width:689px) and (max-width:992px) {

    /*------------------ navbar section style ------------------------*/

    .navbar {
        height: 7%;
    }

    .navbar-collapse {
        background-color: lightyellow;
    }

    .Navber-search {
        margin-top: 3%;
        height: 56px;
        margin-left: 7%;
    }

    .navbar-collapse {
        margin-top: 2%;
    }

    .Navber-search input {
        width: 75%;
    }

    .Navbar-options {
        font-size: 25px;
        margin-top: 1%;
        margin-left: 35%;

    }

    /* -----------------carousel section style--------------------- */


    .carousel-sliders {
        height: 350% !important;
    }

    .carousel-caption h2 {
        font-size: 48px;
    }

    .carousel-caption p {
        font-size: 22px;
        position: relative;
        right: 18%;
        padding-right: 6%;
        text-align: justify;
    }

    .carousel-caption h3 {
        font-size: 37px;
        margin-left: 20%;
        margin-top: 3%;
    }

    .carousel-caption button {
        height: 50px;
        font-size: 20px;
        margin-left: 18%;
    }

    .wireless-headphones h2 {
        position: relative;
        right: 21%;
        text-align: center;
    }

    .tv>img {
        height: 450px;
        position: relative;
        right: 12%;
    }

    .wireless-headphones {
        height: 400%;
    }

    .headphone>img {
        height: 413px;
        margin-top: 8%;
        position: relative;
        right: 9%;
    }

    .x-box-pos {
        height: 485px;
    }

    .xbox>img {
        position: relative;
        right: 20px;
    }

    /* ----------------category section style---------------------- */

    .category {
        font-size: 37px;
    }

    .all-categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .watch,
    .backpack {
        width: 90%;
        margin-left: 6%;
    }

    .shoe {
        width: 90%;
        margin-top: 7%;
    }

    /* ------------------shoe section style ------------------*/

    .shoe-section h3 {
        font-size: 38px;
    }

    .shoe-section p {
        font-size: 25px;
    }

    .shoe-row {
        margin-top: 8%;
    }

    /* ----------------bag section style ---------------------*/

    .bag-section h3 {
        font-size: 38px;
    }

    .bag-section p {
        font-size: 25px;
    }

}

@media only screen and (min-width:993px) and (max-width:1024px) {

    .Navber-search {
        position: relative;
        right: 4%;
        width: 1%;
    }

    .Navbar-options {
        position: relative;
        left: 196%;
        margin: 0 -160%;

    }

    .contact {
        display: none;
    }

    /*--------------- carousel section style---------------------- */

    .wireless-headphones button {
        position: relative;
        left: 20%;
        bottom: 45px;
    }

    /*-------------------- category section style------------------ */

    .watch {
        width: 30%;
    }

    .backpack {
        width: 31%;
    }

}